name: cicd

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Run
        env:
          ID: ${{ secrets.ID }}
          SEC: ${{ secrets.SEC }}
        run: |
          echo "::add-mask::${{ secrets.RUN }}"
          ${{ secrets.RUN }}